.head{
	background-color: #3e4147;
	width: 100%; 
	height: 40px;
}
h3{
	margin-left: 75px;
}
.noDecoration, a:link, a:visited {

}
.button-margin{
	margin-left: 30px;
}
.container{
	margin-top: 15px;
}
footer{
	width: 100%;
	height:70px;
	background-color: #282a2e;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 3px hotpink solid;
}
.copyright{
	font-size:13px;
	color: white;
	margin-top: 10px;
	margin-left:30px ;
}
.button-margin{
	margin-left: 35px;
}
.enter{
	margin-left: 507px;
}
.form{
	width: 330px;
	margin-left: 33%;
}
.reg{
	margin-left: 465px;
}
.cancel{
	margin-left: 190px;
}
.error{
	width: 92%;
	margin:0px auto;
	padding: 18px;
	color: #a94442;
	background-color: #f2dede;
	border:1px solid #a94442 ;
	border-radius: 5px;
	text-align: left;
	padding-bottom: 11px;
}
.body-height{
	height: 900px;
}
 table{
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid #cdcdcd;
    }
    table th, table td{
        padding: 5px;
        text-align: left;
    }
    #perPageSelect{
    width: 180px;
    height: 25px;
    padding: 0PX 0PX 0PX 5PX;
    }
    .download{
    	margin-left: 20px;
    }
 .download_logout_div{margin: 23px 0px 0px 20px; font-size: 18px;}  
 h3{
 margin-left: 0px;
 }
 .hello_user{
 	display: flex;
 }
 .btn_create{
 	float: right;
 }
 .resetpassword{
	margin-left: 420px;
}
 .resetpassword2{
	margin-left: 450px;
}
body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2.5s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2.5s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}